@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'BMJUA';
    font-size: 16px;
}

.mt-7{
    margin-top: 7px;
}

article{
    display: flex;
    flex-direction: column;
}

.progress{
    border-radius: 3rem;
    margin: 0 20px;
}

.question{
    display: none;
}

.result{
    display: none;
}

#img{
    width: 300px;
    height: auto;
    margin: 0 auto;
}

#title{
    margin: 0 20px;
}

.title{
    font-size: 3rem;
}

.sub-title{
    font-family: 'Notosans';
    font-size: 1.5rem;
    letter-spacing: -1.5px;
}

#sub-title-01, #sub-title-02, #solution-title{
    font-family: 'Notosans';
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #fcd240;
}

#sub-01, #sub-02, #solution{
    font-family: 'Notosans';
    font-size: 1rem;
    letter-spacing: -1.5px;
    color: #333;
    text-align: left;
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn{
    font-size: 1.7em;
    margin: 0 20px;
}

#bti, #animal{
    color: gold;
    font-size: 2rem;
}

#animal{
    color: #333;
    font-size: 2rem;
}

#explain{
    color: #333;
    font-size: 2.5rem;
}

.return-btn{
    border: none;
}

.testBtn{
    width: 50.5%;
    margin: 0 auto;
}

.final{
    height: auto;
    background: #f7f7f7;    
    border-radius: 4px;
}
