@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'BMJUA';
    font-size: 16px;
}

.mt-7{
    margin-top: 7px;
}

article{
    display: flex;
    flex-direction: column;
}

.progress{
    border-radius: 3rem;
    margin: 0 20px;
}

.question{
    display: none;
}

.result{
    display: none;
}

#img{
    width: 300px;
    height: auto;
    margin: 0 auto;
}

#title{
    margin: 0 20px;
}

.sub-title{
    font-family: 'Notosans';
    letter-spacing: -1.5px;
}

#sub-title-01, #sub-title-02, #solution-title{
    font-family: 'Notosans';
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #fcd240;
}

#sub-01, #sub-02, #solution{
    font-family: 'Notosans';
    letter-spacing: -1.5px;
    color: #333;
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn{
    margin: 0 20px;
}

#bti{
    color: gold;
}

#animal{
    color: #333;
}

#explain{
    color: #333;
}

.w-90{
    width: 90%;
}


/* font size */
.fz-1{
    font-size: 1rem;
}

.fz-13{
    font-size: 1.3rem;
}

.fz-15{
    font-size: 1.5rem;
}

.fz-17{
    font-size: 1.7rem;
}

.fz-2{
    font-size: 2rem;
}

.fz-25{
    font-size: 2.5rem;
}

.fz-3{
    font-size: 3rem;
}
/* font size end */


.return-btn{
    border: none;
    transition: all .3s ease-out 0s;
}

.testBtn{
    width: 50.5%;
    margin: 0 auto;
}

.final{
    height: auto;
    background: #f7f7f7;    
    border-radius: 4px;
}


@media(max-width: 1025px){
    .w-50{
        width: 80% !important;
    }
    #sub-01, #sub-02, #solution{
        margin-left: 55%;
    }
}

@media(max-width: 769px){
    .start>button.w-25{
        width: 40% !important;
    }
    .w-75{
        width: 90% !important;
    }
    .w-50{
        width: 85% !important;
    }
    .w-90{
        width: 90% !important;
    }
    #sub-01, #sub-02, #solution{
        margin-left: 51%;
    }
}

@media(max-width: 541px){
    .fz-1{
        font-size: 0.8rem;
    }
    .fz-13{
        font-size: 1.1rem;
    }
    .fz-15{
        font-size: 1.2rem;
    }
    .fz-17{
        font-size: 1.3rem;
    }
    .fz-2{
        font-size: 1.5rem;
    }
    .fz-25{
        font-size: 2rem;
    }
    .m-5{
        margin: 2.5rem !important;
    }
    .p-5{
        padding: 1.5rem!important;
    }
    .w-90{
        width: 100%;
    }
}

@media(max-width: 415px){
    .fz-3{
        font-size: 2.7rem;
    }
    .fz-13{
        font-size: 1rem;
    }
    .fz-15{
        font-size: 1.2rem;
    }
    .fz-2{
        font-size: 1.35rem;
    }
    .fz-25{
        font-size: 1.6rem;
    }
    .start>button.w-25{
        width: 55% !important;
    }
    .w-50{
        width: 95% !important;
    }
    .w-90{
        width: 100% !important;
    }
    #sub-01, #sub-02, #solution{
        margin-left: 50%;
    }
    .p-5{
        padding: 1rem !important;
    }
    .m-5{
        margin: 1.5rem !important;
    }
}

@media(max-width: 281px){
    .result #img{
        width: 250px;
    }
    .start>button.w-25{
        width: 65% !important;
    }
    .question .mt-5{
        margin-top: 1rem !important;
    }
    footer .mt-7{
        margin-top: 60px;
    }
}